.DS_Store
zasm.pro.user*
Distributions/old versions/
Distributions/*.bz2
Distributions/*.zip
Test/Zeug*
Test/*.bin
Test/*.rom
Test/*.lst
Test/*.s
Info/
build-*
Examples/sdcc/device/examples/
Examples/sdcc/device/lib/OTHER
Examples/sdcc/git:sdcc
Examples/sdcc/git:sdcc:src:z80
Test/include
Test/library
Test/lib/
Test/rem.c
Test/sdcc-2014-10
Test/sdcpp
Test/*.tap
