.DS_Store
zasm.pro.user*
build-*
Distributions/old versions/
Distributions/*.bz2
Distributions/*.zip
Info/
Examples/sdcc/lib/OTHER
Test/Zeug*
Test/include
Test/library
Test/s/
Test/*.bin
Test/*.rom
Test/*.lst
Test/*.s
Test/*.tap
Test/rem.c
Test/crc.c
Test/sdcpp
Test/zx82_rom.asm
